{% extends 'base.html.twig' %}

{% block title %}TodoApp{% endblock %}

{% block body %}

<div class="row">
	<div class="col-xs-12">

		<h2>A propos</h2>
		<p>Bienvenue sur TodoApp, votre nouveau gestionnaire de t창ches !</p>
		<p>Vous pouvez <a href="{{ path('todo_list') }}">afficher la liste des t창ches</a> ou ajouter tout de suite une nouvelle t창che :</p>

		{{ include('todo/partials/form_add.html.twig', {form_add_title: 'Vous pouvez ajouter une t창che ici'}) }}
	</div>
</div>

{% endblock %}